# DB config
POSTGRES_DB=goyfield
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

# Backend config
NODE_ENV=production
BACKEND_PORT=3001
ADMIN_SECRET=super_secret_fallback_key_123
SIGN_SECRET=super_secret_key_123
SIGN_ISSUER=goyfield
LOGGING_LEVEL=info

# Frontend config
FRONTEND_PORT=3000
PUBLIC_API_BASE=http://localhost:3001/api/v2
