node_modules/
.env
.agents
.DS_Store
build/
.svelte-kit/
dist/
*.db
*.db-journal
accountData.json
generated/
scripts/
goyfield-backend/static/banwords/banned_words.txt
goyfield-backend/static/banroots/banned_roots.txt