@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url('/fonts/HelveticaNeue-Bold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  :root {
    --color-bg-base: #F0F2F4;
    --color-bg-surface: #ffffff;
    --color-bg-surface-hover: #f3f4f6;
    --color-text-primary: #21272C;
    --color-text-secondary: #6b7280;
    --color-border: #E5E7EB;
    --color-accent: #F9B90C;
  }
  .dark {
    --color-bg-base: #2a2a2a;
    --color-bg-surface: #383838;
    --color-bg-surface-hover: #444444;
    --color-text-primary: #FDFDFD;
    --color-text-secondary: #B7B6B3;
    --color-border: #444444;
    --color-accent: #FFE145;
  }

  * {
    scrollbar-width: thin; 
    scrollbar-color: #90969d transparent; 
  }

  .dark * {
    scrollbar-color: #464646 transparent;
  }

  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #50555a;
    border-radius: 10px;
    border: 2px solid transparent; 
    background-clip: padding-box;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: #94a3b8;
  }

  .dark *::-webkit-scrollbar-thumb {
    background-color: #525252;
  }

  .dark *::-webkit-scrollbar-thumb:hover {
    background-color: #737373;
  }

  *::-webkit-scrollbar-corner {
    background: transparent;
  }
}

:root {
  --color-main: #21272C;
}

body {
  font-family: 'Noto Sans', sans-serif;
  color: var(--color-main);
  background-color: #F9F9F9;
}

.font-nums {
  font-family: 'HelveticaNeue-Bold', 'Noto Sans', sans-serif;
  font-variant-numeric: tabular-nums;
  font-weight: normal;
}

.font-sdk {
  font-family: 'Noto Sans';
  font-weight: 800;
}

html {
    scrollbar-width: auto; 
  }

  /* Для Chrome/Safari: делаем скролл окна шире (14px) */
  html::-webkit-scrollbar {
    width: 14px;
  }

  /* Делаем сам ползунок чуть толще, чтобы было удобно хватать */
  html::-webkit-scrollbar-thumb {
    border: 3px solid transparent; 
  }