NODE_ENV=example
PORT=3000
DATABASE_URL=postgresql://admin:pass@localhost:5432/example
ADMIN_SECRET=super_secret_fallback_key_123
LOGGING_LEVEL=http
GRYPHLINE_AUTH_URL=https://example.com/auth
SKPORT_BASE_DOMAIN=https://example.com
SKPORT_CRED_PATH=/api/cred
SKPORT_BIND_PATH=/api/bind
SKPORT_DETAIL_PATH=/api/detail
SKPORT_CC_PATH=/api/cc
SKPORT_CC_REC_PATH=/api/cc-rec
SKPORT_MONUMENT_PATH=/api/monument
SIGHTENGINE_USER=admin
SIGHTENGINE_SECRET=secret_admin_key
SIGN_SECRET=super_secret_key_123
SIGN_ISSUER=me